/* We are already using material design css. We now need to
 * put things where we want to override the settings. */

html, body {
	height: 100%;
}

/* A map styling is essential for it to display */
#map {
  height: 100%;
	// Map is the bottom-most layer of our design
	z-index: 0;
}

/* One prominent place is aside vs map -- materialize
 * gives the entire screen estate to aside. */
/**********************/
/* Aside menu styling */
/**********************/
aside {
	position: absolute;
  background: #000;
  z-index: 10;
  font-size: 18px;
  color: #fff;
	cursor: move;

	// Make a flex box as per filtered list
	display: flex;
	flex-direction: column;
}

aside #list_header {
	background-color: #2196F3;
	padding: 5px;
}

aside li {
	cursor: pointer;
	padding: 5px;
}

aside #filter-string {
	margin-left: 5px;
}
