/* We are already using material design css. We now need to
 * put things where we want to override the settings. */

html, body {
	height: 100%;
}

/* A map styling is essential for it to display */
#map {
  height: 100%;
	width: 100%;

	// Map is the bottom-most layer of our design
	z-index: 0;
}

/* One prominent place is aside vs map -- materialize
 * gives the entire screen estate to aside. */
/**********************/
/* Aside menu styling */
/**********************/
aside {
	position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-size: 18px;
  color: #fff;
	cursor: move;
	transition: all 0.5s ease-in-out;

	// Make a flex box as per filtered list
	display: flex;
	flex-direction: column;
}

aside:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

aside #list_header {
	// background-color: #2196F3;
	padding: 5px;
}

aside li {
	cursor: pointer;
	padding: 5px;
}

aside #filter-string {
	margin-left: 5px;
}

/* Add list retraction properties to aside list */
#wrapper {
	transition: all 2s ease-in-out;
	display: none;
}

#wrapper.active {
	display: inherit;
}

.fa {
	color: yellow;
	display: inline;
	cursor: pointer;
}

/* Add header properties */
header {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	background-color: rgba(0,255,0,0.5);
	display: none;
}

header:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Fix footer images and attributions */
footer p {
	margin: 0;
	display: flex;
	flex-direction: row;
	max-width: 60%;
}

footer #foursquare_logo {
	float: right;
	display: in-line;
	max-width: 40%
}

/* Table display in InfoBoxes */
.api_results {

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

@media screen(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi) and (device-width: 1440px)
	and (orientation: portrait) {
  html {
  	width: 1440px;
  }
}
